# Dependency directory
node_modules/

# Build directory
build/

# Release directory
dist/

# IDEs
.idea/

# OSX > NAS drive folder info, local folder info & icon
._.DS_Store
.DS_Store
._*

target/
UI 1\[References\]-1742435631.webp
UI 1 tracing-1655579590.webp
Still 2026-06-08 184619_1.1.3\[References\]--500228870.webp
Still 2026-06-08 184619_1.1.2\[References\]--1853538567.webp
Still 2026-06-08 184619_1.1.1\[References\]-1088119032.webp
Plan-902647160.webp
Pause Menu - Persona 3 Reload\[References\]-1500862135.webp
HDFDBRBWEAEiC17\[References Kris\]-317852418.webp
__kris_utdr_and_1_more_drawn_by_g_c_hori__aaaeb6bc4d58e52e63e2eb2d3036beeb\[References Kris\]--316637509.webp
__kris_utdr_and_1_more_drawn_by_0916psy__c1db19f66ea09fd7f97bfb1725a500a0-500564318.webp
__kris_soul_and_red_soul_utdr_and_1_more_drawn_by_kyezzzz__650bef9bd3661458faddc38644ca0548-1347078727.webp
__kris_noelle_holiday_ralsei_and_susie_utdr_and_1_more_drawn_by_senjochi_janai__d7c72bb4221c491960e20265097ade4d-386398269.webp
__kris_noelle_holiday_and_spamton_g_spamton_utdr_and_1_more_drawn_by_senjochi_janai__6010e1a46880269ebd68bf8fbcf95973-2097265768.webp
